extends ../shared/template
block content
  h2 Public Page!
  .row
    .col-xs-8
      div Primary Photo
    .col-xs-4 
      div Description
      div Make Proposal
      div Send Message
  .row
    .col-xs-8
      div Secondary Photos
    .col-xs-4
      div Make Proposal
      