extends ../shared/template
block content
  h2 Furry Farm 
  .row
    .col-xs-4
    .col-xs-4
      .panel.panel-primary
          .panel-heading Login
          .panel-body
            form(role='form', method='post', action='/login')
              .form-group
                label(for='email') Email
                input.form-control#email(type='email', name='email', autofocus=true)
              .form-group
                label(for='password') Password
                input.form-control#password(type='password', name='password')
              .row
                  button.btn.btn-success(type='submit') Login
              .row
                  a(href=''): button.btn.btn-success(type='button') Register
              a(href='/auth/google' style='color: red'): i.fa.fa-google.fa-lg
              a(href='/auth/twitter'): i.fa.fa-twitter.fa-lg
              a(href='/auth/facebook' style='color: navy'): i.fa.fa-facebook.fa-lg

    .col-xs-4


block scripts
  script(src='/js/user/home.js')