@base: red;

body{
  background-color: saturate(@base, 5%);
}

h2{
  text-align: center;
  text-decoration: Underline;
  font-weight: bold;
}

#map {
  height: 500px;
  width: 1000px;
  text-align: center;
  margin: 0 0 20px 0;
}

th.sort-header {
  cursor: pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background: transparent;
  }
table th.sort-header:after {
  content:'';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  }
table th.sort-header:hover:after {
  visibility: visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility: visible;
  opacity: 0.4;
  }
table th.sort-up:after {
  border-bottom: none;
  border-width: 4px 4px 0;
  }

table {
  margin: 0 0 0 30px;
}
